
body {
            background-color: lightblue;
            text-align: center;
            align-content: center;
            
    }
h1 {
            color: navy;
            margin-left: 20px;
            text-align: center;
    }
    a{
        text-align: center;
    }
    